---
---

{% assign projects_order = "swipeRogue,inspire,learnVCS,theVirtualHeart" | split: "," %}
{% assign projects = "" | split: "," %}
{% assign jobs_order = "fitbit,globalThinking,RIT,cathedralCorporation" | split: "," %}
{% assign jobs = "" | split: "," %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

      <h2>Projects</h2>
      {% for project_name in projects_order %}
      {% assign project_hash = site.data.portfolio[project_name] %}
      {{ site.portfolio | where: "portfolio_item",project_name | where: "title","Base" }}
        <h3>{{ project_hash.meta.name }}</h3>
      {% endfor %}

      <h2>Career</h2>
      {% for job_name in jobs_order %}
      {% assign project_hash = site.data.portfolio[job_name] %}
        <h3>{{ project_hash.meta.name }}</h3>
      {% endfor %}
</html>

